.container-principal-home {
    display: flex;
    flex-direction: row;
}

.container-mayor-izquierda {
    flex: 60%;
    display: flex;
}

.container-mayor-izquierda img {
    width: 100%;
}

.container-menor-derecha {
    flex: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
}

.container-menor-derecha h2 {
    font-size: 2.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
}

.grid-inicio {
    display: flex;              
    justify-content: center;     
    flex-wrap: wrap;           
}

.card {
    background: linear-gradient(to bottom, rgba(69, 8, 8, 0.8), rgba(69, 8, 8, 0.6)); /* Degradado para el fondo */
    border-radius: 10px;  /* Asegúrate de que las cards tengan bordes redondeados */
    transition: transform 0.3s ease;
    cursor: pointer;
    margin: 10px;         /* Espacio entre las cards */
    overflow: hidden;     /* Esto asegura que los elementos hijos no sobresalgan */
}

.card img {
    border-radius: 10px 10px 0 0; /* Bordes redondeados solo en la parte superior */
    width: 100%;           /* Asegúrate de que la imagen ocupe todo el ancho de la card */
    height: auto;         /* Mantener la proporción de la imagen */
}

.cuerpo-card {
    color: white;
    font-family: 'ubuntu';
    text-decoration: none;
    padding: 10px;       /* Espacio interno en el cuerpo de la card */
}

.card:hover {
    transform: translateY(-5px);
}