<section>
    <div class="container-principal-home">
        <div class="container-mayor-izquierda">
            <img src="assets/img/hospital.png" alt="home gaming fever">
        </div>
        <div class="container-menor-derecha">
            <h2> Portal Oficial <br> Hospital Polaco de Buenos Aires</h2>
            
            <p>
                El Hospital Polaco de Buenos Aires, fundado en 1934, se ha consolidado como una institución de salud de referencia en la comunidad. Con un fuerte compromiso hacia la atención médica integral, el hospital ofrece una amplia gama de servicios de salud que abarcan diversas especialidades médicas.
            </p>
        
            <p>
                Nuestro equipo de profesionales se encuentra altamente capacitado y trabaja en un entorno colaborativo para garantizar que cada paciente reciba atención personalizada. Además, el hospital se enfoca en la utilización de tecnologías avanzadas para mejorar los diagnósticos y tratamientos, lo que permite ofrecer un cuidado de calidad.
            </p>
        
            <p>
                Más allá de nuestro labor médico, el Hospital Polaco promueve la salud comunitaria a través de programas educativos y de prevención. Colaborando con organizaciones locales, busca mejorar el acceso a la atención médica para todos, asegurando que la salud sea un derecho accesible para la comunidad.
            </p>
        </div>
    </div>
</section>

<section>
    <div class="banner">
        <h2>INGRESO</h2>
    </div>
</section>

<section>
    <div class="grid-inicio row gy-3 mt-3 mb-3">
        <div class="col-md-3">
            <div class="card" routerLink="/login">
                <img src="assets/img/login.jpg" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">LOGIN</h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card" routerLink="/registro">
                <img src="assets/img/pacientes.png" class="card-img-top">
                <div class="card-body cuerpo-card">
                    <h5 class="card-title text-center">REGISTRARSE</h5>
                </div>
            </div>
        </div>
    </div>
</section>