<section>
    <div class="banner">
        <h2>INGRESAR</h2>
    </div>
</section>

<section>
    <div class="main-ingresar">
        <app-loading [isLoading]="isLoading"></app-loading>

        <div class="imagen">
            <img src="assets/img/login-page.png" alt="">
        </div>

        <div class="login-principal">
            <div class="login">
                <h3>Ingresa a tu cuenta</h3>

                <form id="login-form">
                    <label for="username">USUARIO</label>
                    <input type="text" id="username" name="username" placeholder="Ingresa tu email" required
                        [(ngModel)]="usernameLogin">
                    <label for="password">CONTRASEÑA</label>
                    <input type="password" id="password" name="password" placeholder="Ingresa tu contraseña" required
                        [(ngModel)]="passLogin">

                    <div class="button-group">
                        <button type="submit" class="btn btn-danger" (click)="login()">INGRESAR</button>
                    </div>

                    <div class="bienvenida">
                        <div *appMostrarSiCumpleCondicion="rolUsuario === 'Medico'" class="mensaje-bienvenida">
                            <p>Bienvenido, Doctor/a!</p>
                        </div>
                        <div *appMostrarSiCumpleCondicion="rolUsuario === 'Paciente'" class="mensaje-bienvenida">
                            <p>Bienvenido/a, Paciente!</p>
                        </div>
                        <div *appMostrarSiCumpleCondicion="rolUsuario === 'Admin'" class="mensaje-bienvenida">
                            <p>Bienvenido/a, Administrador/a!</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="auto">
            <h4> AUTOCOMPLETAR </h4>

            <div class="item" [appAutocompletar]="{ username: 'xejafes529@acroins.com', password: '123456' }">
                <img src="assets/img/paciente 1 A.webp" alt="">
                <span>Paciente 1</span>
            </div>
            <div class="item" [appAutocompletar]="{ username: 'jebivix505@acroins.com', password: '123456' }">
                <img src="assets/img/paciente 2 A.jpg" alt="">
                <span>Paciente 2</span>
            </div>
            <div class="item" [appAutocompletar]="{ username: 'yojew10349@edectus.com', password: '123456' }">
                <img src="assets/img/paciente 3 A.webp" alt="">
                <span>Paciente 3</span>
            </div>
            <div class="item" [appAutocompletar]="{ username: 'pidek10164@aqqor.com', password: '123456' }">
                <img src="assets/img/medico 1.avif" alt="">
                <span>Médico 1</span>
            </div>
            <div class="item" [appAutocompletar]="{ username: 'telep63719@aleitar.com', password: '123456' }">
                <img src="assets/img/medico 2.avif" alt="">
                <span>Médico 2</span>
            </div>
            <div class="item" [appAutocompletar]="{ username: 'ramey54405@aqqor.com', password: '123456' }">
                <img src="assets/img/admin 1.jpg" alt="">
                <span>Admin</span>
            </div>
        </div>
    </div>
</section>