.main-ingresar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.imagen {
    display: flex;
    flex: 60%;
    /* Ajusta aquí el tamaño deseado del contenedor */
    align-items: center;
    justify-content: left;
    overflow: hidden;
    /* Oculta cualquier contenido que se desborde */
}

.imagen img {
    width: 100%;
    /* La imagen se adapta al ancho del contenedor */
    height: 100%;
    /* Mantiene la proporción original */
    object-fit: cover;
    /* Asegura que la imagen cubra todo el área del contenedor */
}

.login-principal {
    flex: 40%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-left: 40px;
}

.login {
    display: flex;
    flex-direction: column;
}

.login label{
    display: block;
    width: 100%;
    color: white;
    font-family: 'ubuntu';
    margin-bottom: 5px;
}

input{
    background-color: #333;
    border: 2px solid #f00;
    color: #fff;
    padding: 10px;
    width: 80%;
    max-width: 500px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: border 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.login h3 {
    margin-bottom: 10px;
}

.login button {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
}

.button-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column; /* Cambia a 'column' para alinearlos verticalmente */
    align-items: flex-end; /* Alinea todos los botones a la derecha */
    width: 100%;
    max-width: 400px;
}

.button-group button {
    width: 100%; /* Asegura que todos los botones ocupen el 100% del ancho del contenedor */
    padding: 10px;
    margin: 5px 0; /* Margen vertical entre botones */
}