<app-loading [isLoading]="isLoading"></app-loading>

<h3>Disponibilidad Horaria</h3>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="seleccion-especialidad" style="margin-top: 20px;">
        <label for="especialidad">Especialidad</label>
        <select formControlName="especialidad">
            <option value="" disabled selected>Elige...</option>
            <option *ngFor="let especialidad of usuarioLogueadoEntidad.especialidades" [value]="especialidad">
                {{ especialidad }}
            </option>
        </select>

        <div *ngIf="especialidad?.hasError('required') && especialidad?.touched">
            <small class="error">Este campo es obligatorio.</small>
        </div>
    </div>

    @if(form.get('especialidad')?.value)
    {
    <!-- Mostrar la disponibilidad existente si está cargada -->
    <div *ngIf="disponibilidadCargada" class="disponibilidad-actual">
        <h4>Disponibilidad Actual:</h4>
        <div *ngFor="let dia of diasSemana">
            <strong>🔸 {{ dia }}:</strong>
            <span *ngIf="disponibilidadCargada[dia]?.horaInicio">
                {{ disponibilidadCargada[dia].horaInicio }} - {{ disponibilidadCargada[dia].horaFin }}
            </span>
            <span *ngIf="!disponibilidadCargada[dia]?.horaInicio"> Sin horarios registrados </span>
        </div>
        @if (modoLectura) {
        <button type="button" (click)="habilitarEdicion()">Editar</button>
        }
    </div>

    <!-- Mostrar formulario solo si se selecciona una especialidad y no está en modo lectura -->
    <div *ngIf="form.get('especialidad')?.value && !modoLectura" formArrayName="diasDisponibles"
        class="seleccion-disponibilidad">
        <div *ngFor="let dia of diasDisponibles.controls; let i = index" [formGroupName]="i" class="dia-horario">
            <h4>
                <label class="dia">
                    {{ diasSemana[i] }}
                    <input type="checkbox" formControlName="disponible" (change)="toggleDisponibilidad(i)" />
                </label>
            </h4>

            <div class="horario" *ngIf="diasDisponibles.at(i).get('disponible')?.value">
                <label>Hora de Inicio:</label>
                <select formControlName="horaInicio">
                    <option *ngFor="let hora of horarios[i]" [value]="hora">{{ hora }}</option>
                </select>

                <label style="margin-left: 10px;">Hora de Fin:</label>
                <select formControlName="horaFin">
                    <option *ngFor="let hora of horarios[i]" [value]="hora">{{ hora }}</option>
                </select>
            </div>

            <div *ngIf="diasDisponibles.at(i).hasError('finMenorQueInicio')">
                <small class="error">La hora de fin debe ser mayor que la hora de inicio.</small>
            </div>

            <div *ngIf="!diasDisponibles.at(i).get('disponible')?.value" style="margin-bottom: 10px;">
                <small>Este día no estará disponible.</small>
            </div>
        </div>
    </div>

    <div *ngIf="!modoLectura">
        <button type="submit" [disabled]="form.invalid">
            Guardar
        </button>
    </div>
    }
</form>