.calendar {
    max-width: 400px;
    margin: auto;
    text-align: center;
    background-color: #2e2d2d;
    /* Fondo oscuro */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 10px;
}

button {
    background-color: #a42315;
    /* Rojo vibrante */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    /* Ajustar el tamaño del botón */
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9em;
    /* Tamaño de fuente más pequeño */
}

button:hover {
    background-color: #6d1b12;
    /* Color más oscuro al pasar el ratón */
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.day {
    padding: 15px;
    cursor: pointer;
    background-color: #4c4b4b;
    /* Fondo claro para los días */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    color: white;
}

.day:hover {
    background-color: #113c7c;
    /* Color de fondo al pasar el ratón */
    transform: scale(1.1);
    /* Efecto de aumento */
}

.day.selected {
    background-color: #21cf4a;
    /* Color para el día seleccionado */
    color: white;
    font-weight: bold;
}

.selected-date {
    margin-top: 15px;
    color: white;
    font-size: 1.2em;
}

.weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.weekday {
    background-color: #34495e;
    /* Fondo para los días de la semana */
    padding: 10px;
    border-radius: 5px;
}

.day[ngClass="null"] {
    background-color: transparent;
    /* Fondo transparente para días vacíos */
    cursor: default;
    /* No es interactivo */
}

.disabled-day {
    background-color: #b91e1e; /* Rojo para días deshabilitados */
    color: white;
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .disabled-day:hover {
    background-color: #b91e1e; /* Mantener el mismo color en hover */
    transform: none; /* Quitar efecto de aumento */
  }