/*ESTILOS PARA EL NAVBAR*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    background-image: url('../assets/img/black-paper.png');
    padding: 10px 20px;
}

.navbar-izquierda {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
    margin-right: 15px;
    cursor: pointer;
}

.logo:hover {
    content: url('../assets/img/logo-hover.png');
}

.nav-derecha {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-derecha li {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    font-size: 1.05rem;
    font-family: 'ubuntu';
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Aplico estos estilos a todos los il menos al que tiene el nombre de usuario */
.nav-derecha li:not(.username):hover {
    color: red;
}
.nav-derecha li:not(.username) {
    cursor: pointer;
}

/* Aplico estos estilos a todos los il menos al que tiene el nombre de usuario */
.nav-derecha li:not(.username):hover {
    color: red;
}
.nav-derecha .username {
    cursor: red;
}

/* FOOTER */

footer {
    background-color: #000000;
    background-image: url('../assets/img/black-paper.png');
    text-align: center;
    height: 70px;
    padding: 20px;
    width: 100%;
}

footer p {
    color: white;
}

.copyright p {
    font-size: 1.1rem;
}

/* ACTIVE ROUTE  */

.active-route{
    color: red;
}

/* Estilo del Dropdown */
.dropdown-menu {
    background-color: #000000; 
    border: 1px solid #444; 
    border-radius: 0.5rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* Estilo de los ítems del Dropdown */
.dropdown-item {
    color: white; 
    font-family: 'ubuntu';
}

/* Efecto al pasar el mouse sobre los ítems */
.dropdown-item:hover {
    background-color: red; 
    color: white; 
}

/* Estilo del botón del dropdown */
.btn-secondary.dropdown-toggle {
    background-color: #000000; 
    border: none; 
    color: white; 
}

/* Efecto al pasar el mouse sobre el botón del dropdown */
.btn-secondary.dropdown-toggle:hover {
    background-color: red;
}