<header>
  <nav class="navbar">
    <div class="navbar-izquierda">
      <img src="assets/img/logo.png" routerLink="home" alt="Logo" class="logo">
    </div>

    <ul class="nav-derecha">
      <!-- Si es medico -->
      @if (usuarioLogueadoGeneral && isMedico)
      {
      <li class="username" style="color: red; cursor:default;">{{ usuarioLogueadoGeneral }}</li>
      <li routerLink="pacientes"><a class="nav-link">PACIENTES</a></li>
      <li routerLink="mis-turnos/medicos"><a class="nav-link">MIS TURNOS</a></li>
      <li routerLink="perfil"><a class="nav-link">MI PERFIL</a></li>
      <li (click)="logout()" routerLink="home">LOG OUT</li>
      }
      <!-- Si es paciente -->
      @else if (usuarioLogueadoGeneral && isPaciente)
      {
      <li class="username" style="color: red; cursor:default;">{{ usuarioLogueadoGeneral }}</li>
      <li routerLink="solicitar-turnos"><a class="nav-link">SOLICITAR TURNOS</a></li>
      <li routerLink="mis-turnos/pacientes"><a class="nav-link">MIS TURNOS</a></li>
      <li routerLink="perfil"><a class="nav-link">MI PERFIL</a></li>
      <li (click)="logout()" routerLink="home">LOG OUT</li>
      }
      <!-- Si es admin -->
      @else if (usuarioLogueadoGeneral && isAdmin)
      {
      <li class="username" style="color: red; cursor:default;">{{ usuarioLogueadoGeneral }}</li>
      <li routerLink="solicitar-turnos"><a class="nav-link">SOLICITAR TURNOS</a></li>
      <li routerLink="turnos"><a class="nav-link">TURNOS</a></li>
      <li routerLink="usuarios"><a class="nav-link">USUARIOS</a></li>
      <li routerLink="perfil"><a class="nav-link">MI PERFIL</a></li>
      <li (click)="logout()" routerLink="home">LOG OUT</li>
      }
      <!-- Si no esta logueado -->
      @else
      {
      <li routerLink="login"><a class="nav-link">LOG IN</a></li>
      <li routerLink="registro"><a class="nav-link">REGISTRARSE</a></li>
      }
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>

<footer>
  <div>
    <p>&copy; 2024 Hospital Polaco</p>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>