<app-loading [isLoading]="isLoading"></app-loading>

<section>
    <div class="banner">
        <h2>MI PERFIL</h2>
    </div>
</section>

<div class="perfil-container">
    <div class="perfil-column perfil-info">
        <div class="perfil-header">
            <img [src]="getImagenPerfil()" alt="Imagen de Perfil" class="perfil-imagen" />
            <h2>{{ usuarioLogueadoEntidad?.nombre }} {{ usuarioLogueadoEntidad?.apellido }}</h2>
            <span class="perfil-rol">{{ usuarioLogueadoEntidad?.rol }}</span>
        </div>

        <p><strong>Email:</strong> {{ usuarioLogueadoEntidad?.email }}</p>
        <p><strong>Documento:</strong> {{ usuarioLogueadoEntidad?.documento }}</p>
        <p><strong>Edad:</strong> {{ usuarioLogueadoEntidad?.edad }} años</p>

        <ng-container *ngIf="isPaciente(usuarioLogueadoEntidad)">
            <p><strong>Obra Social:</strong> {{ usuarioLogueadoEntidad.obraSocial }}</p>
            <p><strong>Imagen Secundaria:</strong></p>
            <img [src]="usuarioLogueadoEntidad.imagen2" alt="Imagen 2" class="perfil-imagen-secundaria" />

            @if (tieneHistoriaClinica && !filtroEspecialistaON)
            {
                <div class="button-group">
                    <button class="btn btn-danger mt-4" (click)="dispararSweetAlert()">
                        DESCARGAR HISTORIA CLINICA
                    </button>
                </div>
            }

            @if(tieneHistoriaClinica && filtroEspecialistaON)
            {
                <div class="descargaHC">
                    <h4 style="margin-top: 50px;">Seleccione el medico a filtrar en la historia clinica:</h4>

                    <div class="tabla">
                        <div class="tabla-scroll">
                            <table>
                                <tr>
                                    <th>Selección</th>
                                    <th>Nombre y Apellido</th>
                                    <th>Especialidades</th>
                                </tr>
                                <tr *ngFor="let medico of medicos"
                                    (click)="seleccionarEspecialista(medico.email)" 
                                    [class.selected]="mailEspecialistaSeleccionado === medico.email">
                                    <td>
                                        <i class="fa" [ngClass]="mailEspecialistaSeleccionado === medico.email ? 'fa-check-circle' : 'fa-circle'" aria-hidden="true"></i>
                                    </td>
                                    <td>{{ medico.nombre}} {{ medico.apellido }}</td>
                                    <td>{{ medico.especialidades }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
    
                    <div class="button-group mt-4">
                        <button class="btn btn-danger mt-4" (click)="downloadHistoriaClinicaPDFFiltrada()" [disabled]="!mailEspecialistaSeleccionado">
                            DESCARGAR HISTORIA CLINICA CON FILTRO
                        </button>
                    </div>
                </div>
                
            }
        </ng-container>

        <ng-container *ngIf="isAdmin(usuarioLogueadoEntidad)">
            <p><strong>Rol Administrativo:</strong> Admin</p>
        </ng-container>
    </div>

    <div class="perfil-column disponibilidad-container" *ngIf="isMedico(usuarioLogueadoEntidad)">
        <app-disponibilidad [usuarioLogueadoEntidad]="usuarioLogueadoEntidad"></app-disponibilidad>
    </div>
</div>

@if (tieneHistoriaClinica) {
<app-historia-clinica></app-historia-clinica>
}