.solicitar-turnos {
    display: flex;
    min-height: 69vh;
    justify-content: center;
    align-items: center;
}

.pacientes,
.medicos,
.especialidades,
.dias-disponibles,
.horarios-disponibles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medicos-container,
.especialidades-container,
.dias-container,
.horarios-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.medico,
.especialidad {
    text-align: center;
    cursor: pointer;
}

h4 {
    color: white;
    font-family: 'ubuntu';
}

.medico img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 10px;
}

.especialidad img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    object-fit: cover;
    margin-top: 10px;
}

button {
    background-color: #1d56d1;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #111ba7;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.horario-seleccionado {
    background-color: green;
    color: white;
    border: 2px solid darkgreen;
}

p {
    text-align: center;
    color: #ff3333;
    font-weight: bold;
}

.especialidad {
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.especialidad.selected {
    border: 2px solid #007bff;
    border-radius: 10px;
}

.tabla-scroll {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    border: 1px solid #444;
    background-color: #555;
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

th,
td {
    padding: 12px;
    text-align: center;
    border: 1px solid #444;
}

th {
    background-color: #333;
    color: #f00;
}

td {
    background-color: #555;
    color: #fff;
    cursor: pointer;
}

tr:hover {
    background-color: #8B0000;
}

tr:hover td {
    background-color: #8B0000;
}

tr:hover i.fa {
    color: #777;
}

/* Estilos solo para los botones de horarios */
.horario-button {
    background-color: #1d56d1;
    color: white;
    border: none;
    padding: 0; /* El padding se ajusta para hacerlo cuadrado */
    border-radius: 15px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100px; /* Ancho específico para que sea cuadrado */
    height: 100px; /* Altura igual que el ancho */
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario-button:hover {
    background-color: #111ba7;
}

.horario-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.horario-seleccionado {
    background-color: green;
    color: white;
    border: 2px solid darkgreen;
}