<app-loading [isLoading]="isLoading"></app-loading>

<section>
    <div class="banner">
        <h2>SOLICITAR TURNOS</h2>
    </div>
</section>

<section class="solicitar-turnos">

    <section class="pacientes" *ngIf="isAdmin && pantallaActual === 'pacientes'" [@fadeInOut]>
        <h3>Seleccione un paciente:</h3>
        <div class="tabla-scroll">
            <table *ngIf="pacientesDisponibles.length > 0">
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Documento</th>
                </tr>
                <tr *ngFor="let paciente of pacientesDisponibles" (click)="seleccionarPaciente(paciente)">
                    <td>{{ paciente.nombre }}</td>
                    <td>{{ paciente.email }}</td>
                    <td>{{ paciente.documento }}</td>
                </tr>
            </table>
            <p *ngIf="pacientesDisponibles.length === 0">No hay pacientes disponibles.</p>
        </div>
    </section>

    <section *ngIf="emailPaciente && pantallaActual === 'medicos'" class="medicos" [@fadeInOut]>
        <h3>Seleccione un médico</h3>
        <div class="medicos-container">
            <div class="medico" *ngFor="let medico of medicos" (click)="seleccionarMedico(medico)">
                <h4>{{ medico.nombre }} {{ medico.apellido }}</h4>
                <img [src]="medico.imagen1" alt="Imagen del Médico" />
            </div>
        </div>
    </section>

    <section *ngIf="medicoSeleccionado && pantallaActual === 'especialidades'" class="especialidades" [@fadeInOut]>
        <h3>Especialidades del médico</h3>
        <div class="especialidades-container">
            <div class="especialidad" *ngFor="let especialidad of medicoSeleccionado.especialidades"
                (click)="seleccionarEspecialidad(especialidad)"
                [class.selected]="especialidadSeleccionada === especialidad">
                <h4>{{ especialidad }}</h4>
                <img [src]="getImagenEspecialidad(especialidad)" alt="Imagen de la Especialidad" />
            </div>
        </div>
    </section>

    <section *ngIf="medicoSeleccionado && especialidadSeleccionada && pantallaActual === 'dias'"
        class="dias-disponibles" [@slideIn]>
        <h3>Días Disponibles</h3>
        <div class="dias-container">
            <button *ngFor="let dia of diasDisponibles" (click)="seleccionarDia(dia)">
                {{ dia }}
            </button>
            <p *ngIf="diasDisponibles.length === 0">No hay días disponibles.</p>
        </div>
    </section>

    <section *ngIf="diaSeleccionado && pantallaActual === 'horarios'" class="horarios-disponibles" [@slideIn]>
        <h3>Horarios Disponibles</h3>
        <div class="horarios-container">
            <button *ngFor="let horario of horariosDisponibles" (click)="seleccionarHorario(horario)"
                [ngClass]="{'horario-seleccionado': horario === horarioSeleccionado, 'horario-button': true}">
                {{ horario }}
            </button>
            <p *ngIf="horariosDisponibles.length === 0">No hay horarios disponibles.</p>
        </div>
        <button [disabled]="!horarioSeleccionado" (click)="guardarTurno()" *ngIf="horarioSeleccionado"
            style="margin-top: 100px;">
            Guardar Turno
        </button>
    </section>

</section>