<section>
    <div class="banner">
        <h2>REGISTRO DE PACIENTES</h2>
    </div>
</section>

<section>
    <div class="seleccionar-modo">
        <h3> SELECCIONAR EL TIPO DE REGISTRO </h3>

        <div class="opciones">
            <div class="pacientes" routerLink="pacientes">
                <img src="assets/img/pacientes.png" alt="Pacientes">
                <h4> PACIENTE </h4>
            </div>
            <div class="medicos" routerLink="medicos">
                <img src="assets/img/medicos.png" alt="Médicos">
                <h4> MEDICO </h4>
            </div>
        </div>
    </div>
</section>